/*Otávio --- Inicio*/
#contact {
    display: flex;
    justify-items: center;
    align-items: center;
    font-family: poetsen-one-regular;
    background: url('https://apod.nasa.gov/apod/image/2405/M104HST.jpg') no-repeat center center/cover;
    position: relative;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    height: auto;
  }

  #particles-js {
      position: absolute;
      width: 100%;
      height: 100%;
      z-index: 1;
  }

  .centercontact {
    width: 90vw;
    height: auto;
    background: #FFF6E7;
    background: linear-gradient(130deg,rgba(255, 246, 231, 1) 100%, rgba(255, 255, 255, 1) 1%);
    border-radius: 20px; 
    margin-top: 5vh;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 5vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
  }

  .leftcontact{
    width: 40vw;
    height: auto;
    padding: 2vw;
    display: flex;
    flex-direction: column;
    justify-content:center;
    
  }

  .rightcontact{
    width: 40vw;
    height: auto;
    padding: 2vw;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  #colagem{
    width: 40vw;
    height: auto;
    object-fit: contain;
    display: block;
    z-index: 2;
  }
  
  .centercontact h1 {
    font-size: clamp(20px, 4vw, 40px);
    margin: 0;
    color: #f8bf58;
    padding: 0;
  }

  .centercontact h2 { 
    font-size: clamp(16px, 2.5vw, 32px);
    margin: 0px;
    color: #612f00;
    padding: 0;
  }
  
  .contacttitulo{
    margin-bottom: 1vh;
  }
  
  .buttons{
    display: flex;
    flex-direction: column;
    justify-content: start;
    gap: 1vh;
  }

  .contactbuttons {
    display: flex;
    align-items: center;
    justify-content: start;
    width: 40vw;
    padding: 15px 25px;
    background-color:#ffebc7;
    border-radius: 8px;
    font-size: clamp(10px, 2vw, 25px);
    font-weight: 350;
    font-style:normal;
    cursor: pointer;
    border: none;
    transition: 0.3s;
    color: black;
    z-index: 2;
  }
  
  .contactbuttons:hover {
    scale: 102%;
    background: #ffffff;
    background: linear-gradient(130deg,rgba(255, 255, 255, 1) 0%, rgba(255, 235, 199, 1) 44%);
  }

  a{
    display: flex;
    align-items: center;
    justify-content: start;
    text-decoration: none;
  }

  
.dancing{
  font-family: "Dancing Script", cursive;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.lora{
  font-family: "Lora", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: italic;
}
  
  
/*Otávio --- FIM*/