/*Otávio --- Inicio*/
#contact {
    display: flex;
    justify-items: center;
    align-items: center;
    font-family: poetsen-one-regular;
    background-color:white;
    margin: 0;
    parddin: 0;
    box-sizing: border-box;
  }

  .center {
    width: 90%;
    height: 70vh;
    background: #FFF6E7;
    background: linear-gradient(130deg,rgba(255, 246, 231, 1) 100%, rgba(255, 255, 255, 1) 1%);
    color: #f8bf58;
    padding: 20px 40px;
    display: flex;
    flex-direction: column;
    justify-content:center;
    gap: 30px;
    border-radius: 20px; 
    margin-top: 5vh ;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 5vh ;
  }
  
  

  .center h2 { 
    font-size: 2.2vw;
    margin: 0px;
    text-shadow: 1px 1px 2pxrgb(248, 219, 88);
  }
  
  .center h1 {
    font-size: 4vw;
    margin: 0;
    text-shadow: 1px 1px 5px  #f8bf58;
  }
  
  .contactbuttons {
    display: flex;
    align-items: center;
    justify-content: start;
    width: 40%;
    gap: 15px;
    background: #F8BF58;
    background: linear-gradient(160deg, rgba(248, 191, 88, 1) 0%, rgba(255, 246, 231, 1) 64%, #fff6e7 100%);
    padding: 15px 25px;
    border-radius: 8px;
    font-size: 1.2vw;
    font-weight: 600;
    cursor: pointer;
    border: none;
    transition: 0.3s;
    color: black;
    Inherited: yes;
  }
  
  .contactbuttons:hover {
    scale: 102%;
  }

  a{
    display: flex;
    align-items: center;
    justify-content: start;
    text-decoration: none;
  }

  
.poetsen-one-regular {
    font-family: "Poetsen One", sans-serif;
    font-weight: 400;
    font-style: normal;
  }



  .images{
    height: 80%;
    width: 40%;
    background-color: white;
  }
  
  
/*Otávio --- FIM*/