#hero {
    box-sizing: border-box;
}

#about-us-section {
    margin-top: 250px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--bege);
    height: 100vh;
}

#about-us-section .card-container {
    background-color: white;
    padding: 50px 100px;  
    width: 1200px;
    border-radius: 30px;
    box-shadow: 0px 0px 3px rgba(0,0,0,0.15);
    margin-top: -440px;
}

#about-us-section .top-container {
    display: flex;
}

#about-us-section .left-text-container {
    flex: 1;
}

#about-us-section .left-text-container p{
    font-family: archivo, sans-serif;
    font-size: 20px;
    font-weight: 700;
    color: var(--amareloEscuro);
}

#about-us-section .left-text-container h1{
    margin-top: 30px;
    font-family: archivo, sans-serif;
    font-size: 40px;

}

#about-us-section .bottom-container {
    margin-top: 30px;
    padding: 30px 0px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 50px;
}

#about-us-section .card {
    background: linear-gradient(180deg,rgba(255, 251, 242, 1) 0%, rgba(255, 245, 227, 1) 100%);
    flex: 1;
    height: 300px;
    border-radius: 20px;    
    box-shadow: 0px 0px 5px rgba(0,0,0,0.2);
    padding: 30px 30px;
}

#about-us-section .card h3{
    margin-top: 1.5rem;
    font-family: archivo, sans-serif;
    font-weight: 600;
    font-size: 24px;
}

#about-us-section .card p{
    margin-top: 1rem;
    font-family: archivo, sans-serif;
    font-weight: 400;
    color: var(--cinza);
    font-size: 18px;
}

#about-us-section .right-text-container {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: end;
    color: var(--cinza);
}

#about-us-section .right-text-container p {
    font-family: archivo, sans-serif;
    font-size: 20px;
    font-weight: 400;
    max-width: 500px;
    line-height: 2rem;
}


#about-us-section .img-container {
    width: 50vw;
    height: 100vh;
    background-image: url("../assets/images/FotoExterna.png");
    background-position-x: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#about-us-section .left-container {
    margin-top: -2.5rem;
    display: flex;
    flex: 1;
    justify-content: center;
}

#about-us-section .text-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 600px;
}

#about-us-section .text-container h1{
    text-align: center;
    color: var(--marrom);
    font-size: 4.5rem;
    font-family: charis;
}

#about-us-section .text-container p{
    margin-top: 3rem;
    text-align: center;
    color: var(--marrom);
    font-size: 18px;
    font-family: noto, sans-serif;
}

#about-us-section .text-container a{
    margin-top: 4rem;
    padding: 20px 80px;
    border-radius: 20px;
    cursor: pointer;
    border: 2px solid var(--marrom);
    /* border: none; */
    background-color: var(--amarelo);
    color: var(--marrom);
    font-size: 1.4rem;
    font-weight: 700;
    font-family: archivo, sans-serif;
    transition: background-color 0.15s;
    box-shadow: 0px 0px 5px rgba(0,0,0,0.3);
}

#about-us-section .text-container a:hover{
    border-color: rgb(80, 44, 0);
    background-color: rgb(80, 44, 0);
    color: rgb(219, 197, 169);
}

#cards-section { 
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-block: 4rem; 
    background-color: var(--bege);
    margin-top: -280px;
    padding-bottom: 150px;
}

#cards-section h1 {
    font-family: archivo;
    font-size: 3rem;
    font-weight: 600;
    color: var(--marrom);
}

#cards-section .cards {
    margin-top: 3rem; 
    display: flex;
    justify-content: center;
}

#cards-section .card{
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 350px;
    height: 675px;
    background: linear-gradient(180deg,rgba(255, 232, 189, 1) 0%, rgba(255, 223, 172, 1) 100%);
    color: black;
    border: 4px solid var(--marrom);
    border-radius: 30px;
    margin-inline: 20px;
    position: relative;
}

#cards-section .text-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#cards-section .icons-container {
    display: flex;
    width: 90%;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1.5rem;
}

#cards-section .icons-container p{
    font-family: archivo;
    font-weight: 500;
}

#cards-section .icons-container div{
    display: flex;
    align-items: center;
}

#cards-section .icons-container .wifi img{
    margin-right: 5px;
}

#cards-section .img-container img {
    height: 250px;
    width: 350px;
    margin-bottom: 30px;
    border-radius: 20px;
    box-shadow: 0px 0px 5px rgba(0,0,0,0.3);
    border: 4px solid var(--marrom);
}

#cards-section button {
    padding: 10px 30px;
    border-radius: 10px;
    cursor: pointer;
    border: 2px solid var(--marrom);
    /* border: none; */
    background-color: rgb(255, 225, 185);
    color: var(--marrom);
    font-size: 1rem;
    font-weight: 600;
    font-family: archivo, sans-serif;
    transition: background-color 0.15s;
    box-shadow: 0px 0px 5px rgba(0,0,0,0.3);
    position: absolute;
    right: 30px;
    bottom: 30px;
}

#cards-section button:hover{
    border-color: rgb(80, 44, 0);
    background-color: rgb(80, 44, 0);
    color: rgb(219, 197, 169);
}

#cards-section h2 {
    font-family: archivo, sans-serif;
    font-size: 1.8rem;
    color: var(--marrom);
    margin-bottom: 30px;
}

#cards-section p {
    font-family: noto, sans-serif;
    text-align: center;
    color: var(--marrom);
    font-size: 1rem;
    line-height: 1.5rem;
}