#hero {
    box-sizing: border-box;
}

#about-us-section {
    background-color: var(--amarelo);
    display: flex;
}

#about-us-section .img-container {
    width: 50vw;
    height: 100vh;
    background-image: url("../assets/images/FotoExterna.png");
    background-position-x: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#about-us-section .left-container {
    margin-top: -2.5rem;
    display: flex;
    flex: 1;
    justify-content: center;
}

#about-us-section .text-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 600px;
}

#about-us-section .text-container h1{
    text-align: center;
    color: var(--marrom);
    font-size: 4.5rem;
    font-family: charis;
}

#about-us-section .text-container p{
    margin-top: 3rem;
    text-align: center;
    color: var(--marrom);
    font-size: 18px;
    font-family: noto, sans-serif;
}

#about-us-section .text-container a{
    margin-top: 4rem;
    padding: 20px 80px;
    border-radius: 20px;
    cursor: pointer;
    border: 2px solid var(--marrom);
    /* border: none; */
    background-color: var(--amarelo);
    color: var(--marrom);
    font-size: 1.4rem;
    font-weight: 700;
    font-family: archivo, sans-serif;
    transition: background-color 0.15s;
    box-shadow: 0px 0px 5px rgba(0,0,0,0.3);
}

#about-us-section .text-container a:hover{
    border-color: rgb(80, 44, 0);
    background-color: rgb(80, 44, 0);
    color: rgb(219, 197, 169);
}

#cards-section { 
    padding-top: 200px; 
    background-color: var(--background);
    display: flex;
    justify-content: center;
}

#cards-section .card{
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 450px;
    height: 750px;
    background-color: black;
    color: black;
    border-radius: 30px;
    margin-inline: 20px;
}

#cards-section .text-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#cards-section .img-container img {
    height: 280px;
    width: 400px;
    margin-bottom: 30px;
}

#cards-section h2 {
    font-size: 3rem;
    color: var(--marrom);
    margin-bottom: 30px;
}

#cards-section p {
    font-family: "Open Sans", sans-serif;
    text-align: center;
    color: white;
    font-size: 1.2rem;
    line-height: 1.7rem;
}