#hero {
    box-sizing: border-box;
}

#about-us-section {
    background-color: var(--background);
    display: flex;
    padding-block: 50px;
}

#about-us-section .img-container {
    margin-left: 40px;
}

#about-us-section .img-container img{
    width: 550px;
    height: 700px;
    object-fit: cover;
}

#about-us-section .right-container {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
}

#about-us-section .text-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-inline: 30px;
    width: 800px;
}

#about-us-section .text-container h1{
    text-align: center;
    color: var(--amarelo);
    font-size: 6rem;
    font-family: fineday, Arial, sans-serif;
}

#about-us-section .text-container p{
    line-height: 2.2rem;
    color: white;
    font-size: 1.5rem;
    font-weight: 600;
    font-family: "Open Sans", sans-serif;
}

#about-us-section .text-container button{
    margin-top: 30px;
    width: 250px;
    padding: 20px 10px;
    border-radius: 20px;
    cursor: pointer;
    border: 3px solid var(--marrom);
    color: var(--marrom);
    font-size: 1.4rem;
    font-weight: 700;
    font-family: "Open Sans", sans-serif;
    transition: background-color 0.15s;
}

#about-us-section .text-container button:hover{
    color: #523c36;
    background-color: #a0827b;
}

#cards-section { 
    padding-top: 200px; 
    background-color: var(--background);
    display: flex;
    justify-content: center;
}

#cards-section .card{
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 450px;
    height: 750px;
    background-color: black;
    color: black;
    border-radius: 30px;
    margin-inline: 20px;
}

#cards-section .text-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#cards-section .img-container img {
    height: 280px;
    width: 400px;
    margin-bottom: 30px;
}

#cards-section h2 {
    font-size: 3rem;
    color: var(--marrom);
    margin-bottom: 30px;
}

#cards-section p {
    font-family: "Open Sans", sans-serif;
    text-align: center;
    color: white;
    font-size: 1.2rem;
    line-height: 1.7rem;
}