:root {
    --marrom: #543127;
    --preto: #000000;
    --amarelo: #FFB22C;
}   

 * {
    margin: 0;
    padding: 0;
 }

 @font-face {
    font-family: fineday;
    src: url(../assets/fonts/Fineday/Fineday-StyleOne.ttf);
 }

 @font-face {
    font-family: serp;
    src: url(../assets/fonts/serp/serp-and-molot.ttf);
 }

body {
    overflow-x: hidden;
}


#header {
    background-image: url('../assets/header.jpg');
    background-size: cover;
    height: 100vh;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px;
    opacity: 1;
    background-color: rgba(0, 0, 0, 0.9);
}

.nav-links {
    display: flex;
    gap: 40px;
    list-style-type: none;
    font-size: 1.2rem; 
    margin-right: 70px;
    text-decoration: none;
    color: white;
}

li {
    text-decoration: none;
    color: white;
}

#title {
    color: white;
    font-size: 1.5rem;
    font-family: 'Times New Roman', Times, serif;
    opacity: 1;
    margin-left: 70px;;

}

a {
    text-decoration: none;
    color: white;
    font-weight: 600;
    font-family: 'Times New Roman', Times, serif;
}



#ball {
    position: absolute;
    top: 47.5%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 15rem;
    height: 15rem;
    border-radius: 50%;
    background-color: var(--marrom);
    display: flex;
    justify-content: center;
    align-items: center;
}

#ball img {
    position: absolute;
    width: 80%;
    height: 80%;
    border-radius: 50%;
    animation: scale .7s ease-in-out;

}


.line {
    background-color: var(--marrom);
    border-radius: 20px;
   text-align: center;
}

#line1 {
    position: absolute;
    top: 66%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 20rem;
    height: 6rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

#line1 h1 {
    position: relative;
    bottom: 10px;
    font-size: 3.8rem;
    color: white;
    font-family: serp;
}

#line2 {
    position: absolute;
    top: 77%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 30rem;
    height: 7rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

#line2 h1 {
    position: relative;
    bottom: 10px;
    font-size: 4rem;
    color: white;
    font-family: serp;
}

/*Oséias --- Inicio*/

#display {

    margin: 0;
    padding: 0;
    background-color: #343233;
    box-sizing: border-box;

}

.conteiner-carrosel{
    display: flex;
    width: 100%;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    
}

.carrosel-img {
    position: relative;
    display:flex;
    align-items: center;
    justify-content: center;
    width: 700px;
    
}

.slide {
    opacity: 0;
    overflow: hidden;
    width: 100%;
    border-radius: 10px;
    transition: opacity transform 0.5s ease-in-out;
}

.on {
    opacity: 1;
    position: absolute;
}


.slide {
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
    width: 100%;
    border-radius: 10px;
    position: absolute;
    left: 0;
}

.slide.on {
    opacity: 1;
    z-index: 1;
}

.carrosel-img img:hover {
    transform: scale(1.05);
    box-shadow: 0 0 10px 5px #ffffff4b ;
}


#btn-ante, #btn-prox {

    width: 30px;
    height: 30px;
    background-color: transparent;
    border: none;
    cursor: pointer;

}

#btn-ante img, #btn-prox img {
    width: 100%;
    height: 100%;
}

/*Oséias --- FIM*/
